<header>Header

<!--   <button (click)="setSortOrder()">Sort</button> -->
</header>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="navbar"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item dropdown" dropdown>
        <a
          dropdownToggle
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownGuitarMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Guitar</a
        >
        <div
          *dropdownMenu
          class="dropdown-menu bg-dark"
          aria-labelledby="navbarDropdownGuitarMenuLink"
        >
          <a class="dropdown-item text-light" href="#">Electric Solidbody</a>
          <a class="dropdown-item" href="#">Electric Hollowbody</a>
          <a class="dropdown-item" href="#">Acoustic</a>
        </div>
      </li>

      <li class="nav-item dropdown" dropdown>
        <a
          dropdownToggle
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownBassMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Bass</a
        >
        <div
          *dropdownMenu
          class="dropdown-menu"
          aria-labelledby="navbarDropdownBassMenuLink"
        >
          <a class="dropdown-item" href="#">4 String</a>
          <a class="dropdown-item" href="#">5 String</a>
          <a class="dropdown-item" href="#">6 String</a>
        </div>
      </li>

      <li class="nav-item dropdown" dropdown>
        <a
          dropdownToggle
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownRecordingMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Recording</a
        >
        <div
          *dropdownMenu
          class="dropdown-menu"
          aria-labelledby="navbarDropdownRecordingMenuLink"
        >
          <a class="dropdown-item" href="#">Microphones</a>
          <a class="dropdown-item" href="#">Hardware Recorders</a>
          <a class="dropdown-item" href="#">Software</a>
          <a class="dropdown-item" href="#">Outboard Gear</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div id="app-grid-container">
  <div class="main-router-outlet"><router-outlet></router-outlet></div>

  <footer>Footer</footer>
</div>
